name: SonarCloud Analysis

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout del código fuente
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Instalar Dart SDK compatible
      - name: Install Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          sdk: "3.5.2" # La versión mínima requerida por tu proyecto

      # 3. Instalar Flutter versión 3.24.5
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.24.5" # Versión compatible con Dart 3.5.2

      # 4. Obtener dependencias de Flutter
      - name: Get Flutter dependencies
        run: flutter pub get

      # 5. Ejecutar el análisis de SonarCloud
      - name: Run SonarCloud analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io
        run: |
          sonar-scanner \
            -Dsonar.projectKey=ISCOUTB_DG-Financiero \
            -Dsonar.organization=isco-utb \
            -Dsonar.sources=lib \
            -Dsonar.host.url=${{ env.SONAR_HOST_URL }} \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}



